RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

#RewriteRule (.*) http://romix.mesija.net/dev1/api.php?$1
#RewriteRule ^(.*)$ index.php [F,L]
RewriteRule ^api/(.*) api.php?params=$1